* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffcccc;
  color: #000000;
  padding: 20px;
}

header {
  background-color: #0693ff;
  color: #000000;
  padding: 10px 20px;
}

section {
  margin-bottom: 20px;
  line-height: 1.5;
  border: #4800ff 9px solid;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  margin-top: 20px;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9em;
  color: #747272;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  border: #000000 2px solid ;
  border-radius: 3%;
  box-shadow: #000000 2px 2px 5px;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


.image-row img {
  width: 500px;
  height: 200px;
  border-radius: 6px;
}
